version: 2.1

jobs:
  checkout:
    docker:
      - image: circleci/node:10.15.3

    steps:
      # Init
      - checkout

      - run:
          name: Update NPM
          command: |
            sudo npm install -g npm

      - run:
          name: Install lerna
          command: |
            sudo npm install -g lerna

      - restore_cache:
          keys:
            - v1-cache-{{ checksum "package.json" }}
            - v1-cache-

      - run: npm install
      - run: lerna bootstrap

      - save_cache:
          paths:
            - node_modules
          key: v1-cache-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: /home/circleci
          paths:
            - project

  audit:
    docker:
      - image: circleci/node:10.15.3

    steps:
      - attach_workspace:
          at: ~/

      - run: npm run ci:audit

  lint:
    docker:
      - image: circleci/node:10.15.3

    steps:
      - attach_workspace:
          at: ~/

      - run: npm run lint

  format:
    docker:
      - image: circleci/node:10.15.3

    steps:
      - attach_workspace:
          at: ~/

      - run: npm run format

  docs:
    resource_class: large

    docker:
      - image: circleci/node:10.15.3

    steps:
      - attach_workspace:
          at: ~/

      - run: sudo apt-get update
      - run: sudo apt-get install -y python-pip libpython-dev
      - run: sudo pip install awscli
      - run: sudo npm install -g lerna

      - run: lerna run --scope riipen-ui-docs build
      - run: lerna run --scope riipen-ui-docs export

      - run:
          name: S3 Static Host Deploy
          command: |
            aws s3 sync --delete packages/riipen-ui-docs/out s3://riipen-static-ca-central-1-ui-${CIRCLE_BRANCH}

test_branches: &test_branches
  filters:
    branches:
      ignore:
        - production

deploy_branches: &deploy_branches
  filters:
    branches:
      only:
        - production

workflows:
  version: 2

  test:
    jobs:
      - checkout:
          <<: *test_branches
      - audit:
          <<: *test_branches
          requires:
            - checkout
      - lint:
          <<: *test_branches
          requires:
            - checkout
      - format:
          <<: *test_branches
          requires:
            - checkout

  docs:
    jobs:
      - checkout:
          <<: *deploy_branches
      - docs:
          <<: *deploy_branches
          context: StaticDeploy
          requires:
            - checkout
